@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 71% 92%;
    --foreground: 359 56% 30%;

    --border: 214.3 31.8% 91.4%;

    --accent: 7 60% 52%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
  }

  .dark {
    --background: 345 6% 13%;
    --foreground: 60 43% 99%;

    --accent: 15 82% 51%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 214.3 31.8% 91.4%;
  }
}

h1 {
  @apply scroll-m-20 text-4xl font-bold tracking-tight;
}
